@{
    ViewData["Title"] = "Expenses";
}
@model List<Expense>

<h1 class="">Expenses</h1>

<p>View all expenses</p>

<hr>
<h5 class="text-center">Total Expenses: R @ViewBag.ExpensesTotal</h5>
<hr>

<div>
    <ul id="header-row">
        <li class="row">
            <div class="col text-center">Id</div>
            <div class="col text-center">Value</div>
            <div class="col text-center">Description</div>
            <div class="col-1 text-center">Actions</div>
        </li>
    </ul>
    <hr>
    <ul id="all-expenses" class="">
        @{
            foreach (var expense in Model)
            {
                <li class="row my-2">
                    <div class="col text-center">@expense.Id</div>
                    <div class="col text-center">R @expense.Value</div>
                    <div class="col text-center">@expense.Description</div>
                    <div class="col-1 text-center d-flex flex-column">
                        <a asp-action="ExpenseCreateEdit" asp-route-id="@expense.Id">
                            <button class="btn btn-success">Update</button>
                        </a>
                        <a asp-action="ExpenseDelete" asp-route-id="@expense.Id">
                            <button class="btn btn-danger">Delete</button>
                        </a>
                    </div>
                </li>
            }
        }
    </ul>
    <div class="text-center">
        <a asp-controller="Home" asp-action="ExpenseCreateEdit">
            <button class="btn btn-primary">
                Add
            </button>  
        </a>
    </div>
</div>

